<h2>This is <%= myVar %></h2>

<% if(myVar === "page1"){ %>
    <p>Good choice! Page 1 is the best!</p>
<% } else { %>
    <p>Bad choice! You should have said Page 1!</p>
<% } %>

<p> P.S. this is the page.ejs file!</p>